h1 {
  font-size: 72px;
  font-family: monospace;
  color: #00ff00;
  text-align: center;
  background-color: #000000;
}

p {
  font-size: 24px;
  color: greenyellow;
  text-align: center;
  background-color: #000000;
}
